<h1>Here is the total shipping cost for your precious orchid.</h1>

<form action="/shippingcost">
  <div class="form-group">
    <label for="weight">Input the weight of your package in ounces.</label>
      <input id="weight" name="weight" class="form-control" type="number">
    <label for="height">Input the height of your package in inches.</label>
      <input id="height" name="height" class="form-control" type="number">
    <label for="rarity">Is your orchid rare or uncommon?</label>
      <input id="rarity" name="rarity" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Calculate your shipping costs.</button>
